.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: relative;
    top: 0px;
    right: 5px;
    font-size: 36px;
    margin-left: 140px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

html, body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  //margin: 15px auto;
  background-color: #111;
}

.hide-me {
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);
}

h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: normal;
  display: inline-block;
}


p {
  padding: 4px 0 2px 8px;
  line-height: 1.7;
  border-bottom: 1px dotted #DDD;
  list-style: none;
  margin: 0;
}

.main .navcontent
{
  display: none;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
    width: 100%;
    background-color: #111;
}
.left {
    position: absolute;
    left: 5px;
    top: 100px;
    bottom: 0;
    width: 178px;
}

.main
{
    position: relative;
    top:120px;
    right:0;
    bottom:0;
}
/*
Change here for dynamic contents with their div classes.
*/
.main .navcontent .dataTable
{
    position: absolute;
    left:220px;
    top:0px;
    right:0;
    bottom:0;
    overflow:hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 400px;
    border-bottom: 1px solid black;
}
.main .navcontent .dataTable .table
{
  width: 100%;
  height: 100%;
}

.main .navcontent .filter
{
  position: absolute;
  left:220px;
  top:450px;
}

.main .navcontent .sqlFilter
{
  position: absolute;
  left:220px;
  top:480px;
}
.main .navcontent .rowFilter
{

}
.main .navcontent .graphicalData
{

}
header {
   // padding: 35px 0;
    background: #111;
//    margin: 0 auto;
    text-align:center;
}

header h1 a, header h1 a:hover {
 color: #818181;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height:45px;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 a span {
       color: #818181;
}

header h2 {
       color: #818181;
        font-size: 13px;
        position: relative;
        top: -5px;
        letter-spacing: 0;
}
